.clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container() {
  width: 87.5%;
  max-width:940px;
  margin: 0 auto;

  @media @tablet-widths{
    width:88.57%;
  }

  @media @desktop-widths{
    width:78.3%;
  }

}

