.download{
  background-color:#1d2631;

  @media @tablet-widths{
    background:none;
  }

}
.download__contents{
  .container();
  padding:25px 0;

  @media @tablet-widths{
    width:300px;
  }
}
.download__btn{
  display:block;
  padding:15px 0;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
  text-align:center;
  border-radius:50px;
  color:@white;
  border:3px solid @white;

  &:hover{
    color:@pink;
    background-color:@white;
  }

  &:active{
    color:rgba(210, 40, 86, .3);;
    background-color:@white;
  }
}
.download__list{
  margin:27px auto;
  text-align:center;
}
.download__icon{
  display:inline-block;
  font-size:0;
  width:50px;
  height:55px;
  margin-right:27px;
}
.download__icon--apple{
  background:url("../img/logo-apple.svg") no-repeat 50% 50%;
}
.download__icon--android{
  background:url("../img/logo-android.svg") no-repeat 50% 50%;
}
.download__icon--windows{
  margin-right:0px;
  background:url("../img/logo-microsoft.svg") no-repeat 50% 50%;
}
.download__text{
  font-weight:light;
  font-size:14px;
  line-height:24px;
  text-align:center;
  color:#c3c5c8;
}
