.page-footer{

  &--main{
  display:;

    @media @tablet-widths{
      display:block;
    }
  }

  &__wrapper{
    .container();
    margin-top:0;
    margin-bottom:0;
    border:1px solid red;

    @media @tablet-widths{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:baseline;
      margin-top:37px;
      margin-bottom:37px;
    }
  }

  &__name{
    text-align:center;
    margin-top:37px;
    border:1px solid blue;

    @media @tablet-widths{
      margin-top:0;
    }
  }

  &__logo{
    display:inline-block;
    font-size:0;
    width:150px;
    height:40px;
    text-align:center;
    background-image:url("../img/logo-pink-blue-mobile.svg");
    background-repeat:no-repeat;
  }

}

.page-footer__social{
  text-align:center;
  margin-top:37px;
  border:1px solid blue;

  @media @tablet-widths{
    margin-top:0;
  }
}

.page-footer__copyright{
  text-align:center;
  margin-top:37px;
  border:1px solid blue;

  @media @tablet-widths{
    margin-top:0;
  }

}

.page-footer__copyright-text{
  display:inline-block;
  vertical-align:middle;
  font-size:14px;
}

.page-footer__copyright-link{
  display:inline-block;
  font-size:0;
  width:25px;
  height:34px;
  background-image:url("../img/logo-htmlacademy.svg");
  background-position:50% 50%;
  background-repeat:no-repeat;
  margin-left:14px;
  vertical-align:middle;
}
