.page-footer{

  &--main{
  display:;

    @media @tablet-widths{
      display:block;
    }
  }

  &__wrapper{
    .container();
    margin-top:0;
    margin-bottom:0;

    @media @tablet-widths{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      align-items:center;
      margin-top:37px;
      margin-bottom:37px;
    }
  }

  &__name{
    text-align:center;
    margin-top:37px;
    font-size:0;

    @media @tablet-widths{
      margin-top:0;
    }
  }

  &__logo{
    display:inline-block;
    font-size:0;
    width:150px;
    height:40px;
    text-align:center;
    background-image:url("../img/logo-pink-blue-mobile.svg");
    background-repeat:no-repeat;
    font-size:0;

    @media @desktop-widths{
      background-image:url("../img/logo-pink-blue-desktop.svg");
    }

    &:hover{
      background-image:url("../img/logo-pink-blue-mobile-hover.svg");

      @media @desktop-widths{
        background-image:url("../img/logo-pink-blue-desktop-hover.svg");
      }
    }

    &:active{
      background-image:url("../img/logo-pink-blue-mobile.svg");
      opacity:0.3;

      @media @desktop-widths{
      background-image:url("../img/logo-pink-blue-desktop.svg");
      opacity:0.3;
      }
    }
  }

}

.page-footer__social{
  display:flex;
  flex-direction:row;
  margin-top:37px;
  justify-content:center;

  @media @tablet-widths{
    margin-top:0;
  }
}

.page-footer__copyright{
  text-align:center;
  margin-top:37px;

  @media @tablet-widths{
    margin-top:0;
  }

}

.page-footer__copyright-text{
  display:inline-block;
  vertical-align:middle;
  font-size:14px;
}

.page-footer__copyright-link{
  display:inline-block;
  font-size:0;
  width:25px;
  height:34px;
  background-image:url("../img/logo-htmlacademy.svg");
  background-position:50% 50%;
  background-repeat:no-repeat;
  margin-left:14px;
  vertical-align:middle;

  &:hover{
    background-image:url("../img/logo-htmlacademy-hover.svg");
  }

  &:active{
    opacity:0.3;
  }
}
