.page-header{
  background-color:@bg-darkblue;
  display:relative;
}
.page-header--big{
  height:235px;
  background-image:url("../img/bg-back-mobile@1x.jpg");
  background-repeat:no-repeat;
  background-position:center top;
}
.page-header__logo{
  padding:21px 0;
  border-bottom:2px solid black;
}
.page-header__logo--small{
  background-color:rgba(0, 0, 0, 0.2);
  border-bottom:none;
  display:absolute;
  top:0;
  left:0;
}
.page-header__wrapper{
  .container();
  position:relative;
}
.page-header__toggle{
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  display:block;
  width:40px;
  height:30px;
  font-size:0;
  border:none;
  cursor:pointer;
  background-color:@bg-darkblue;
  background-image:url(../img/icon-menu-burger.svg);
  background-repeat:no-repeat;
}
.page-header__toggle--opened{
  background-image:url(../img/icon-menu-cross.svg);
  background-repeat:no-repeat;
}

.main-nav{
  background-color:@bg-darkblue;
}
.main-nav--closed{
  display:none;
}
.main-nav__item a{
  display:block;
  text-decoration:none;
  text-align:center;
  color:#ffffff;
  font-family:OpenSans;
  padding:25px 0;
}
.main-nav__list{
  list-style:none;
  font-weight:bold;
  font-size:18px;
  color:white;
  text-transform:uppercase;
  margin:0;
  padding:0;
}
.main-nav__item{
  border-top: 1px solid #55616e;
  border-bottom:1px solid #000000;
}
h1{
  .container();
  font-size:24px;
  font-weight:lighter;
  color:#c4c8cb;
  text-align:center;
  vertical-align:middle;
}
