.page-title__main{
  height:459px;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    0% 100%,
    50% 50%
}
.page-title__photo{
  background-image:url("../img/bg-back-mobile@1x.jpg");
  background-repeat:no-repeat;
  background-position:50% 0%;
}
.page-title__form{
  background-image:url("../img/bg-back-mobile@1x.jpg");
  background-repeat:no-repeat;
  background-position:50% 0%;
}
h1{
  .container();
  font-size:24px;
  font-weight:lighter;
  color:#c4c8cb;
  text-align:center;
  padding:76px 0;
  line-height:28px;
}
