
.photos__title{
  display:block;
  .container();
  font-size:14px;
  font-weight:normal;
  padding:44px 15px;
  text-align:center;
  line-height:30px;
  box-sizing:border-box;

  @media @tablet-widths{
    font-size:18px;
    padding:85px 65px 70px;
  }

  @media @desktop-widths{
    padding:85px 180px 70px;
  }

  &--bottom{

    @media @tablet-widths{
      padding:46px 65px 70px;
    }

    @media @desktop-widths{
      padding:65px 180px 70px;
    }
  }
}
.photo{
  position:relative;
  margin-bottom:21px;
}
.photo--main{
  margin-bottom:21px;

  @media @tablet-widths{
    margin-bottom:50px;
  }

  img{
    width:100%;
    display:block;
  }
}

.photo__legend{
  font-size:12px;
  text-transform:uppercase;
  color:@white;
  position:absolute;
  top:0;
  background-color:@pink;
  padding:10px 15px;
  border:1px solid blue;
}

.photo__block{
  .container();
  display:flex;
  flex-direction:row-reverse;
}
.photos__wrapper{
  .container();
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;

    @media @tablet-widths{
    justify-content:space-between;
  }
}

  .photo__wrapper{
    .container();
    background-color:@bg-lightgrey;
}

.photos__item{
  border:1px solid blue;
  width:100%;
  display:flex;
  flex-direction:column;
  background-color:@bg-lightgrey;

  @media @tablet-widths{
    width:48.36%;
  }

  @media @desktop-widths{
    width:31.91%
  }

}

.photos__item img{
  width:100%;
}

.photo__description{
  padding:20px 15px;
  display:flex;
  flex-direction:column;
  border:1px solid red;
  flex-grow:1;

  @media @tablet-widths{
    padding:30px 25px;
  }

  &--main{

    @media @tablet-widths{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      justify-content:space-between;
    }
  }
}

.photo__comment{
  font-size:12px;
  line-height:24px;
}

.photo__author{

  &--main{
    @media @tablet-widths{
      order:-2;
    }
  }
}

.photo__author-name{
  font-weight:bold;
  font-size:13px;
}
.photos time{
  font-weight:lighter;
  text-transform:uppercase;
  font-size:10px;
}
.photo__likes{
  font-size:10px;
  text-transform:uppercase;
  color:@pink;
  margin-top:auto;
  display:flex;
  flex-direction:row;


  @media @tablet-widths{
    padding-left:0;
    flex-direction:row-reverse;
    justify-content:space-between;
  }

  &--main{

    @media @tablet-widths{
    order:-1;
    }
  }
}
.photo__heart{
  width:15px;
  height:15px;
  background-image:url("../img/icon-heart.svg");
  background-position:50% 50%;
  background-repeat:no-repeat;
  margin-right:10px;

  @media @tablet-widths{
    margin-right:0;

  }

  &--main{

    @media @tablet-widths{
      margin-left:15px;
    }
  }
}
