.price{
  background-color:@bg-lightgrey;
  padding:87px 0 45px;
  overflow:hidden;

  &__empty{
    visibility:hidden;
  }

  &__wrapper{

    @media @tablet-widths{
      .container();
    }
  }

  &__table{
    width:264%;
    font-size:14px;
    font-weight:normal;
    transform:translateX(-31%);

    @media @tablet-widths{
      width:100%;
      transform:none;
    }

  }

  &__title{
    position:relative;
    text-align:center;
    width:25%;
    padding:14px 0;
    background-color:@bg-darkblue;
    text-transform:uppercase;
  }

  &__option{
    font-size:18px;
    line-height:30px;
    font-weight:bold;
    color:@white;
  }

  &__cost{
    color:#d4d7da;
    font-size:24px;
    line-height:30px;
    font-weight:lighter;

    @media @tablet-widths{
      font-size:18px;
    }

  }

}

.price__availability{
  padding-top:18px;
  padding-bottom:18px;
  padding-left:20px;


  &--true{
    background-image:url("../img/icon-yes.svg");
    background-repeat:no-repeat;
    background-position:90% 50%;

    @media @tablet-widths{
      font-size:0;
      background-position:50% 50%;
    }
  }

  &--false{
    background:url("../img/icon-no.svg");
    background-repeat:no-repeat;
    background-position:90% 50%;

    @media @tablet-widths{
      font-size:0;
      background-position:50% 50%;
    }
  }

}

td:first-child{
  display:none;

  @media @tablet-widths{
    display:block;
  }
}

tr:not(:first-child){
  background-color:@white;

}

.price__hit{
  position:absolute;
  top: 0px;
  left: -2px;
  z-index: 10;
  width: 70px;
  height: 70px;
  font-size:0;
  background:url("../img/bg-hit.svg");

  &::before{
    position:absolute;
    content:"ХИТ";
    transform:rotate(-45deg);
    color:@white;
    z-index:20;
    font-size:16px;
    top:15%;
    left:20%;
  }
}
.slider__toggle[for="price-input-2"]{
  width:6px;
  height:6px;
  background-color:@white;
  border:3px solid @black;
}

.price__toggles{

  @media @tablet-widths{
    display:none;
  }

}
