.reviews{
  padding-bottom:15px;
  padding-bottom:20px;
  background-color:@white;
  position:relative;
}
.reviews__block--white{
  background-color:@white;
}
.reviews__wrapper{

  .container();
  padding-top:40px;
  position:relative;

  @media @tablet-widths{
    padding-top:40px;
  }

  @media @desktop-widths{
    padding-top:170px;

    width:690px;
    background-image:url("../img/icon-quotes.svg");
    background-repeat:no-repeat;
    background-position:center 76px;

  }

.reviews__item{

   @media @tablet-widths{
    display:flex;
    flex-direction:column;
   }
}

}
.reviews__title{
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  display:block;
  text-align:center;

  @media @tablet-widths{
    font-size:24px;
  }

  @media @desktop-widths{
    font-size:26px;
  }
}
.reviews__text{
  font-size:14px;
  line-height:30px;
  text-align:center;
  font-weight:normal;

  @media @tablet-widths{
    font-size:18px;
    order:-1;
  }
}

.reviews__person{
  display:none;

  @media @tablet-widths{
    display:block;
    text-align:center;
    font-size:14px;
  }

  @media @desktop-widths{
    font-size:16px;
  }

}

.reviews__buttons{

  display:none;
  position:absolute;
  width:26px;
  height:46px;

  @media @desktop-widths{
    display:block;
  }

  &--left{
    background-image:url("../img/icon-review-arrow-left.svg");
    background-repeat:no-repeat;
    top:240px;
    left:-100px;

    &:hover{
      background-image:url("../img/icon-review-arrow-left-hover.svg");
    }

    &:active{
      opacity:0.3;
    }
  }

  &--right{
    background-image:url("../img/icon-review-arrow-right.svg");
    background-repeat:no-repeat;
    top:240px;
    left:770px;

    &:hover{
      background-image:url("../img/icon-review-arrow-right-hover.svg");
    }

    &:active{
      opacity:0.3;
    }
  }
}

.slider__toggles{

  @media @desktop-widths{
    display:none;
  }
}
.slider__toggle[for="reviews-input-1"]{
  width:6px;
  height:6px;
  background-color:@white;
  border:3px solid @black;
}

