.social-link{
  width:50px;
  height:50px;
  border-radius:50%;
  font-size:0;
  border:3px solid @bg-lightgrey;
  margin-right:10px;
}
.social-link--tw{
  background-image:url("../img/icon-twitter.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
}
.social-link--fb{
  background-image:url("../img/icon-facebook.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
}
.social-link--yt{
  background-image:url("../img/icon-youtube.svg");
  background-repeat:no-repeat;
  background-position:50% 50%;
  margin-right:0;
}
